body {
    font-family: Arial, sans-serif;
    background-color: #318fe2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: hwb(214 48% 7%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}
h3{
    color: #2c65ae;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #4c83f9;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    margin: 0;
}

.weather-info p {
    margin: 5px 0;
}

#weatherIcon {
    width: 100px;
    height: 100px;
    display: none; /* Initially hidden */
}

.forecast {
    margin-top: 30px;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.forecast-item {
    background-color: #5d93f1;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 120px;
}
